@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&display=swap');


.nav-bar{
    display: flex;
    justify-content: space-evenly;
    
    align-items: baseline;
    padding-top: 10px;
    background-color: #36517E;
    color: white;
    border-bottom: 1px solid #2b4166;
    
}

.nav-bar h1{
    padding-left: 1em;
    min-width: 10em;
    font-family: 'Comfortaa', cursive;
}

.nav-bar ul{
    display: flex;
    align-items: baseline;
    margin-left: 25em;
    
}

.nav-bar li{
    padding: 1em;
    list-style: none;
    cursor: pointer;
}

.nav-bar li:hover{
    padding: 1em;
    color: #1f2e49;
    list-style: none;
    cursor: pointer;
}

.nav-bar-mobile{
    display: none;
}

.menu-mobile{
    display: none;
    
}



.nav-bar-list-mobile li{
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}




@media screen and (max-width: 1030px) {
    
    .nav-bar li{
        display: none;
        cursor: pointer;
    }

    .nav-bar h1{
        min-width: 1em; 
        
    }

    .menu-mobile{
        display: block;
        margin-left: 20em;
         
    }

    .menu-mobile button{
        border: none;
        cursor: pointer;
        background-color: transparent;  
    }

    .nav-bar-mobile{
        display: block;
    }


    
    .nav-bar{
        align-items: center;
        margin-left: 10px;
        
    }

    .nav-bar h1{
        padding: 16px;
    
    }
    .nav-bar-list-mobile{
        transition: 1s;
        background-color:#36517E;
        border-bottom: 1px solid #2b4166;
        
    }
}
