

.flex-cicle{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 5em;  
}

.cicle{
  width: 14em;
  margin: 10px;
  margin-bottom: 10px;
}

.intern-cicle{
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #2b4166;
    border-radius: 5px;
    padding: 10px;
    
}

.intern-cicle button{
    margin: auto;
    width: 50%;
    border-radius: 10px;
    border-color: #2b41666c;
    background-color:  #2b4166;
}

.intern-cicle h4{
    margin-bottom: 5px;
    
}

.intern-cicle input{
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 2px solid #2b4166;
    color: black;
}

.list-cicle{
    background-color:#2b4166;
    padding: 0px;
    border-radius: 10px 10px 10px 0px;
    margin-top: 10px;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .list li{
    display: flex;
    align-items: center;
    min-height: 40px;
    width: 12rem;
    word-wrap: break-word;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
  }

  .list p{
    max-width: 12rem;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .list li button {
    margin-left: auto;
    background-color: #36517E;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 1px 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .list li button:hover {
    transition: 0.3s;
    background-color: #5f2929;
  }

.input-hours{
    padding: 5px;
    width: 40px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 2px solid #2b4166;
    color: black;
    margin-left: 10px;
}

.reset-hours{
  display: flex;
  position: relative;
  width: 250px;
  margin-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.reset-hours button{
  margin-top: 1em;
}



#reset-button{
  margin-left: 10px;
}